<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<ul class="list-group">
					<li class="list-group-item active" th:text="${Estudiante.nombre}"></li>
					<li class="list-group-item" th:text="${Estudiante.apellido}"></li>
					<li class="list-group-item" th:text="${Estudiante.email}"></li>
					<li class="list-group-item" th:text="${Estudiante.creditos}"></li>
					<li class="list-group-item" th:text="${Estudiante.semestre}"></li>
					<li class="list-group-item" th:text="${Estudiante.promedio}"></li>
					<li class="list-group-item" th:text="${Estudiante.createAt}"></li>
				</ul>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>